//colors
$black: rgb(0, 0, 0);
$yellow: rgb(255, 217, 0);
$white: rgb(241, 241, 241);
$blue: rgb(0, 119, 255);


//font sizes

$p: 1.3rem;
$h1: 3rem;
$h2: 2.8rem;

//nav

$h_nav: 6rem;
$nav_screen:22rem